.App {
  text-align: center;
  background-color: #EDDDD4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  color: #4a8157;
  font-family: Futura;
  font-size: 70px;
  font-style: italic;
  font-variant: normal;
  font-weight: lighter;
}

.paragraphs {
  color: #4a8157;
  font-family: Futura;
  font-size: 25px;
  font-style: italic;
  font-variant: normal;
  font-weight: lighter;
}

.section {
  padding: 40px 0px 10px 0px;
}

/* .App-header {
  background-color: #EDDDD4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */


